<%
	blockClass = 'about-singlework'

	about_singlework_section = {
		tag: 'About',
		title: {
			label: 'Concept, Design, and Development. All-in-one.',
			tag: 'h2'
		}

	}
%>

<section class='layout__<%=blockClass%> <%=blockClass%>'>
	<div class='<%=blockClass%>__container container'>
		<div class="<%=blockClass%>__content">
			<div class="<%=blockClass%>__tag">
				<%=about_singlework_section.tag%>
			</div>
			<<%=about_singlework_section.title.tag%> class="<%=blockClass%>__title">
				<%=about_singlework_section.title.label%>
			</<%=about_singlework_section.title.tag%>>
		</div>
		<div class="<%=blockClass%>__items">
			<%- include('src/ejs/components/singleworkAboutCard.ejs', {
				singleworkAboutCard_component: {
					this:{
						parent: blockClass,
						dataAttribute: 'data-fsc-watcher data-fsc-watcher-once'
					},
					title: {
						tag: 'h4',
						label: 'Challenge'
					},
					text: {
						size: '16',
						label: [
							"Our client was struggling to attract and retain customers due to an outdated and non-responsive website that didn't align with their brand identity."
						]
					}
				}
			})%>
			<%- include('src/ejs/components/singleworkAboutCard.ejs', {
				singleworkAboutCard_component: {
					this:{
						parent: blockClass,
						dataAttribute: 'data-fsc-watcher data-fsc-watcher-once'
					},
					title: {
						tag: 'h4',
						label: 'Goal'
					},
					text: {
						size: '16',
						label: [
							"Our goal was to create a modern and visually appealing website that reflected the client's brand and delivered a seamless user experience. The website needed to be responsive, easy to navigate, and optimized for search engines to improve their online visibility."
						]
					}
				}
			})%>
			<%- include('src/ejs/components/singleworkAboutCard.ejs', {
				singleworkAboutCard_component: {
					this:{
						parent: blockClass,
						dataAttribute: 'data-fsc-watcher data-fsc-watcher-once'
					},
					title: {
						tag: 'h4',
						label: 'Result'
					},
					text: {
						size: '16',
						label: [
							"Our team developed a custom website design that was not only visually stunning but also user-friendly and optimized for search engines. The client's website now showcases their products and services in a professional and engaging manner, and has seen a significant increase in organic traffic and customer engagement. The client is thrilled with the final result and has received positive feedback from their customers."
						]
					}
				}
			})%>
		</div>
	</div>
</section>