<%
	blockClass = 'content-singleblog'

	text = [
		{
			title: {
				type: 'h2',
				label: 'Elit ullamcorper dignissim'
			},
			text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit ullamcorper dignissim cras tincidunt. Enim neque volutpat ac tincidunt vitae. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Condimentum mattis pellentesque id nibh tortor id. Nisl condimentum id venenatis a condimentum. Nunc sed blandit libero volutpat sed. Tristique sollicitudin nibh sit amet commodo. Sit amet justo donec enim diam vulputate ut pharetra. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Massa vitae tortor condimentum lacinia quis vel. Hendrerit dolor magna eget est lorem ipsum dolor. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur.'
		},
		{
			title: {
				type: 'h2',
				label: 'Hendrerit dolor magna'
			},
			text: 'Tristique sollicitudin nibh sit amet commodo. Sit amet justo donec enim diam vulputate ut pharetra. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Massa vitae tortor condimentum lacinia quis vel. Hendrerit dolor magna eget est lorem ipsum dolor. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id. Suspendisse faucibus interdum posuere.'
		},
		{
			title: {
				type: 'h2',
				label: 'Hendrerit dolor magna'
			},
			text: 'Tristique sollicitudin nibh sit amet commodo. Sit amet justo donec enim diam vulputate ut pharetra. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Massa vitae tortor condimentum lacinia quis vel. Hendrerit dolor magna eget est lorem ipsum dolor. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id. Suspendisse faucibus interdum posuere.'
		},
	]
%>

<section class='layout__<%=blockClass%> <%=blockClass%>'>
	<div class='<%=blockClass%>__container container cms' data-fsc-watcher data-fsc-watcher-once>
		<% for(const item of text) { %>
			<section>
				<<%=item.title.type%>>
					<%=item.title.label%>
				</<%=item.title.type%>>
				<p><%=item.text%></p>
			</section>
		<% } %>
		<article class="<%=blockClass%>__author author-content">
			<div class="author-content__body">
				<h3 class="author-content__title">Conclusion</h3>
				<div class="author-content__text text">
					<p>Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Massa vitae tortor condimentum lacinia quis vel. Hendrerit dolor magna eget est lorem ipsum dolor. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id. </p>
				</div>
			</div>
			<div class="author-content__person avatar-testimonialCard">
				<%- include('externe/components/Image/Image', {
					image_component: {
						this: {
							parent: 'avatar-testimonialCard'
						},
						img: {
							src: 'media/image/clients/client7.png'
						}
					}
				}) %>
				<div class="avatar-testimonialCard__content">
					<span class="avatar-testimonialCard__name">
						Arik Andersson
					</span>
					<span class="avatar-testimonialCard__company">
						Framer Expert
					</span>
				</div>
			</div>
		</article>
		<%- include('src/ejs/components/social.ejs', {
			social_component: {
				this: {
					parent: blockClass,
					type: 'ul'
				},
				type: 'button',
				label: true
			}
		})%>
	</div>
</section>