<%
	blockClass = 'faq'
%>

<section class='layout__<%=blockClass%> <%=blockClass%>'>
	<div class='<%=blockClass%>__container container'>
		<div class="<%=blockClass%>__header" data-fsc-watcher data-fsc-watcher-once>
			<div class="<%=blockClass%>__tag">
				FAQ
			</div>
			<h3 class="<%=blockClass%>__title">
				Common  <br> <span>Questions</span>
			</h3>
		</div>
		<div class="<%=blockClass%>__items">
			<%- include('externe/components/Accordion/Accordion.ejs', {
				accordion_component: {
					this: {
						class: `${blockClass}__item`,
						tag: 'li',
						dataAttribute: 'data-fsc-watcher data-fsc-watcher-once'
					},
					title: { tag: 'h5', label: 'What is the typical turnaround time for a website project?' },
					icon: {
						label: 'ph_plus-light',
						div: true
					},
					body: 'The timeline for a website project can vary depending on the complexity of the project and the specific requirements of the client. However, we work closely with our clients to establish a timeline that works for everyone and strive to deliver projects in a timely and efficient manner.', 
				}
			})%>
			<%- include('externe/components/Accordion/Accordion.ejs', {
				accordion_component: {
					this: {
						class: `${blockClass}__item`,
						tag: 'li',
						dataAttribute: 'data-fsc-watcher data-fsc-watcher-once'
					},
					title: { tag: 'h5', label: 'Can you help with website maintenance and updates after the project is completed?' },
					icon: {
						label: 'ph_plus-light',
						div: true
					},
					body: 'The timeline for a website project can vary depending on the complexity of the project and the specific requirements of the client. However, we work closely with our clients to establish a timeline that works for everyone and strive to deliver projects in a timely and efficient manner.', 
				}
			})%>
			<%- include('externe/components/Accordion/Accordion.ejs', {
				accordion_component: {
					this: {
						class: `${blockClass}__item`,
						tag: 'li',
						dataAttribute: 'data-fsc-watcher data-fsc-watcher-once'
					},
					title: { tag: 'h5', label: 'How do you ensure that my website will be optimized for search engines?' },
					icon: {
						label: 'ph_plus-light',
						div: true
					},
					body: 'The timeline for a website project can vary depending on the complexity of the project and the specific requirements of the client. However, we work closely with our clients to establish a timeline that works for everyone and strive to deliver projects in a timely and efficient manner.', 
				}
			})%>
			<%- include('externe/components/Accordion/Accordion.ejs', {
				accordion_component: {
					this: {
						class: `${blockClass}__item`,
						tag: 'li',
						dataAttribute: 'data-fsc-watcher data-fsc-watcher-once'
					},
					title: { tag: 'h5', label: 'What is your process for website design and development?' },
					icon: {
						label: 'ph_plus-light',
						div: true
					},
					body: 'The timeline for a website project can vary depending on the complexity of the project and the specific requirements of the client. However, we work closely with our clients to establish a timeline that works for everyone and strive to deliver projects in a timely and efficient manner.', 
				}
			})%>
		</div>
	</div>
</section>