<%

%>

<section class="layout__testimonials testimonials">
	<div class="testimonials__container container">
		<%- include('src/ejs/components/headerText.ejs', {
			headerText_component: {
				header: {
					label: `What my <span>clients say</span>`,
					type: 'h3'
				},
				text: {
					label: [
						'See what my clients have to say about working with me and the results I helped them achieve.',
					],
					size: '18'
				}
			}
		})%>
		<ul class="testimonials__list">
			<li class="testimonials__item">
				<%- include('src/ejs/components/testimonialCard.ejs', {
					testimonialCard_component: {
						logo_image_component: {
							this: {
								class: 'testimonialCard__logo',
							},
							img: {
								src: '/media/image/brands/brand3.svg',
								width: '30px',
								height: '20px'
							}
						},
						title: {
							label: 'Amazing Results with Arik’s Premium Web Design Services.',
							tag: 'h4'
						},
						text: {
							label: [
								'Arik is a top-notch web designer who created a stunning website for my business. He was attentive to my needs and provided excellent customer service throughout the entire process. I highly recommend his services.'
							]
						},
						avatar: {
							icon_image_component: {
								this: {
									parent: 'avatar-testimonialCard',
								},
								img: {
									src: '/media/image/clients/client1.png'
								}
							},
							name: 'John Smith',
							company: 'ABC Company'
						}
					}
				})%>
			</li>
			<li class="testimonials__item">
				<%- include('src/ejs/components/testimonialCard.ejs', {
					testimonialCard_component: {
						logo_image_component: {
							this: {
								class: 'testimonialCard__logo'
							},
							img: {
								src: '/media/image/brands/brand6.svg',
								width: '24px',
								height: '20px'
							}
						},
						title: {
							label: 'Expert Webflow and SEO Services: Excellent Work, Great Results.',
							tag: 'h4'
						},
						text: {
							label: [
								"Working with Arik on my website redesign was a fantastic experience. He was able to take my vision and turn it into a beautiful and functional website. His attention to detail and creative approach is unmatched. I couldn't be happier with the end result."
							],
							// size: 'size'
						},
						avatar: {
							icon_image_component: {
								this: {
									parent: 'avatar-testimonialCard'
								},
								img: {
									src: '/media/image/clients/client2.png'
								}
							},
							name: 'David Kim',
							company: 'Design Inc.'
						}
					}
				})%>
			</li>
			<li class="testimonials__item">
				<%- include('src/ejs/components/testimonialCard.ejs', {
					testimonialCard_component: {
						logo_image_component: {
							this: {
								class: 'testimonialCard__logo'
							},
							img: {
								src: '/media/image/brands/brand2.svg',
								width: '117px',
								height: '25px'
							}
						},
						title: {
							label: 'Professional, Collaborative Web Design Experience with Arik.',
							tag: 'h4'
						},
						text: {
							label: [
								'I had the pleasure of working with Arik on a website development project and was blown away by his expertise and professionalism. He made the process seamless and delivered a website that exceeded our expectations. I highly recommend Arik for all your web development needs.'
							],
							// size: 'size'
						},
						avatar: {
							icon_image_component: {
								this: {
									parent: 'avatar-testimonialCard'
								},
								img: {
									src: '/media/image/clients/client3.png'
								}
							},
							name: 'Karen Lee',
							company: 'Redwood Technologies'
						}
					}
				})%>
			</li>
			<li class="testimonials__item">
				<%- include('src/ejs/components/testimonialCard.ejs', {
					testimonialCard_component: {
						logo_image_component: {
							this: {
								class: 'testimonialCard__logo',
							},
							img: {
								src: '/media/image/brands/brand5.svg',
								width: '114px',
								height: '30px'
							}
						},
						title: {
							label: 'Expertise in Web Design: Second to None with Arik.',
							tag: 'h4'
						},
						text: {
							label: [
								"Arik is not only an exceptional web designer, but also a pleasure to work with. He took the time to understand my business and its unique needs, and created a website that perfectly represents my brand. I highly recommend Arik's services to anyone looking for a top-quality web designer."
							],
							// size: 'size'
						},
						avatar: {
							icon_image_component: {
								this: {
									parent: 'avatar-testimonialCard',
								},
								img: {
									src: '/media/image/clients/client4.png'
								}
							},
							name: 'Andrew Thompson',
							company: 'Silverstone Corporation'
						}
					}
				})%>
			</li>
			<li class="testimonials__item">
				<%- include('src/ejs/components/testimonialCard.ejs', {
					testimonialCard_component: {
						logo_image_component: {
							this: {
								class: 'testimonialCard__logo',
							},
							img: {
								src: '/media/image/brands/brand4.svg',
								width: '52px',
								height: '20px'
							}
						},
						title: {
							label: 'Web Design and Content Solutions: Stand Out from the Crowd.',
							tag: 'h4'
						},
						text: {
							label: [
								"Arik's SEO services have helped my business improve its online presence and increase traffic to our website. He is knowledgeable, professional, and provides excellent results. I highly recommend him for all your SEO needs."
							],
							// size: 'size'
						},
						avatar: {
							icon_image_component: {
								this: {
									parent: 'avatar-testimonialCard',
								},
								img: {
									src: '/media/image/clients/client5.png'
								}
							},
							name: 'Emily Davis',
							company: 'Greenway Industries'
						}
					}
				})%>
			</li>
			<li class="testimonials__item">
				<%- include('src/ejs/components/testimonialCard.ejs', {
					testimonialCard_component: {
						logo_image_component: {
							this: {
								class: 'testimonialCard__logo',
							},
							img: {
								src: '/media/image/brands/brand1.svg',
								width: '80px',
								height: '20px'
							}
						},
						title: {
							label: 'High-Quality Web Design: Exceptional Attention to Detail with Arik.',
							tag: 'h4'
						},
						text: {
							label: [
								"Arik's development services are top-notch. He is able to take complex ideas and turn them into functional, user-friendly websites. His attention to detail and commitment to customer satisfaction are unmatched. I highly recommend Arik for all your web development needs."
							],
							// size: 'size'
						},
						avatar: {
							icon_image_component: {
								this: {
									parent: 'avatar-testimonialCard',
								},
								img: {
									src: '/media/image/clients/client6.png'
								}
							},
							name: 'Ryan Chen',
							company: 'Golden Gate Solutions'
						}
					}
				})%>
			</li>
		</ul>
	</div>
</section>