<%

%>

<section class="layout__work work">
	<div class="work__container container">
		<div class="work__header">
			<h5 class="work__title">Selected <span>Work</span></h5>
			<%- include('src/ejs/components/button.ejs', {
				button_component: {
					block: 'work',
					label: 'See all',
					type: 'button-text',
					icon_component: {
						block: 'work',
						name: 'ph_arrow-up-right-light',
						size: '32',
						rounded: true
					}
				}
			}) %>
		</div>
		<ul class="work__content">
			<%- include('src/ejs/components/workCard.ejs', {
				workCard_component: {
					tag: {
						label: 'Webdesign',
						link: ''
					},
					type: 'Space',
					image_component: {
						this: {
							class: 'workCard__image'
						},
						img: {
							src: '/media/image/works/w1.png',
						}
					}
				}
			})%>
			<%- include('src/ejs/components/workCard.ejs', {
				workCard_component: {
					tag: {
						label: 'Webdesign',
						link: ''
					},
					type: 'Nova',
					image_component: {
						this: {
							class: 'workCard__image'
						},
						img: {
							src: '/media/image/works/w2.png',
						}
					}
				}
			})%>
			<%- include('src/ejs/components/workCard.ejs', {
				workCard_component: {
					tag: {
						label: 'Webdesign',
						link: ''
					},
					type: 'Sonic',
					image_component: {
						this: {
							class: 'workCard__image'
						},
						img: {
							src: '/media/image/works/w3.png',
						}
					}
				}
			})%>
			<%- include('src/ejs/components/workCard.ejs', {
				workCard_component: {
					tag: {
						label: 'Webdesign',
						link: ''
					},
					type: 'Solar',
					image_component: {
						this: {
							class: 'workCard__image'
						},
						img: {
							src: '/media/image/works/w4.png',
						}
					}
				}
			})%>
		</ul>
	</div>
</section>