<!DOCTYPE html>
<% if(typeof head_component.lang !== 'undefined' && head_component.lang) { %>
   <html lang="<%= head_component.lang %>">
<% } else { %>
   <html lang="en">
<% } %>
<head>
   <%- include('externe/components/Head/Head.ejs') %>
   <!-- <link rel="stylesheet" href="../../src/assets/styles/main.scss"> -->
</head>
<body>
    <%- include('externe/components/DummyAside/DummyAside.ejs') %>
    <div class="wrapper">
        <%- include('externe/components/Header/Header.ejs', {
            header_component: {
                homePage: false,
                active: 'pricing'
            }
        })%>
        <main class="layout layout--pricing">
            <%- include('src/ejs/components/headerText.ejs', {
                headerText_component: {
                    tag: 'Pricing',
                    header: {
                        label: `Experience the Power of Premium Webdesign`,
                        type: 'h1'
                    },
                    text: {
                        label: [
                            "Choose a package that suits your needs and budget. Transparent pricing with no hidden fees."
                        ],
                        size: '20'
                    },
                }
            })%>
			<%- include('src/ejs/layout/pricing.ejs')%>
			<%- include('src/ejs/layout/faq.ejs')%>
		</main>
        <%- include('src/ejs/layout/cta.ejs')%>
        <%- include('src/ejs/layout/footer.ejs')%>
    </div>
    <script type="module" src="/src/ts/main.ts"></script>
</body>
</html>