<%
	if(typeof spoiler_component === 'undefined' || !spoiler_component) {
		return
	}

	var blockClass = 'spoiler'
	if(typeof spoiler_component.block !== 'undefined' && spoiler_component.block) {
		blockClass = `${spoiler_component.block}__spoiler spoiler`
	} else if(typeof spoiler_component.class !== 'undefined' && spoiler_component.class) {
        blockClass = `${spoiler_component.class} spoiler`
    }
    
%>

<div data-fsc-spoiler class="<%=blockClass%>">
    <details class="spoiler__item">
        <summary class="spoiler__title">
            <% if(typeof spoiler_component.title === 'string') { %>
                <%= spoiler_component.title%>
            <% } else if(typeof spoiler_component.title === 'object') { %>
                <<%= spoiler_component.title.type%>>
                    <%= spoiler_component.title.label%>
                </<%= spoiler_component.title.type%>>
            <% } %>
        </summary>
        <div class="spoiler__body">
            <% if(typeof spoiler_component.body === 'string') { %>
                <%= spoiler_component.body%>
            <% } %>
            <% if(typeof spoiler_component.body === 'object') { %>
                <% for(const item of spoiler_component.body) { %>
                    <%= item.label %>
                <% } %>
            <% } %>
        </div>
    </details>
</div>