<%
	if(typeof bodyFooter_component === 'undefined' || !bodyFooter_component) {
		return
	}

	var blockClass = 'body-footer'
	if(typeof bodyFooter_component.block !== 'undefined' && bodyFooter_component.block) {
		blockClass = `${bodyFooter_component.block}__body body-footer`
	}
	var accordionCommonProperties = {
		this: {
			parent: 'body-footer'
		},
		behaviour: 'default',
		media: {
			type:'max-width',
			label: '767.98px'
		},
		icon: 'ph_plus-light'
	}   

	var contentLogoLink = '#' 
	if(typeof bodyFooter_component.logo.link !== 'undefined' && bodyFooter_component.logo.link) {
		contentLogoLink = bodyFooter_component.logo.link
	}
%>

<div class="<%=blockClass%>">
	<div class="body-footer__content content-footer">
		<a href=<%=contentLogoLink%> class="content-footer__logo">
			<%- include('externe/components/Image/Image.ejs', {
				image_component: bodyFooter_component.logo.image_component
			})%>
		</a>
		<%- include('src/ejs/components/social.ejs', {
			social_component: {
				this: {
					parent: 'content-footer',
					type: 'ul'
				},
				type: 'vertical',
				label: true
			}
		})%>
	</div>
	<ul class="body-footer__list">
		<li class="body-footer__item">
			<%- include('externe/components/Accordion/Accordion.ejs', {
			  accordion_component: {
				...accordionCommonProperties,
			    title: { tag: 'h6', label: 'Pages' },
			    body: [
			      { label: 'Home', link: '/' },
			      { label: 'Services', link: './services.html' },
			      { label: 'About', link: './about.html' },
			      { label: 'Contact', link: './contact.html' },
			    ]
			  }
			}) %>
			<%- include('src/ejs/components/button.ejs', {
				button_component: {
					this: {
						parent: 'body-footer'
					},
					label: 'More Templates',
					// link: 'root',
					size: 'small',
					style: 'primary',
					icon_component: {
						name: 'ph_arrow-up-right-light'
					}
				}
			})%>
		</li>
		<li class="body-footer__item">
			<%- include('externe/components/Accordion/Accordion.ejs', {
			  accordion_component: {
				...accordionCommonProperties,
			    title: { tag: 'h6', label: 'CMS' },
			    body: [
			      { label: 'Work', link: './work.html' },
			      { label: 'Work Single', link: './worksingle.html' },
			      { label: 'Blog', link: './blog' },
			      { label: 'Blog Post', link: '#' },
			    ]
			  }
			}) %>
		</li>
		<li class="body-footer__item">
			<%- include('externe/components/Accordion/Accordion.ejs', {
			  accordion_component: {
				...accordionCommonProperties,
			    title: { tag: 'h6', label: 'Utility Pages' },
			    body: [
			      { label: '404 Error Page', link: '#' },
			      { label: 'Password Protected', link: '#' },
			      { label: 'Styleguide', link: '#' },
			      { label: 'Licensing', link: '#' },
			      { label: 'Changelog', link: '#' },
			    ]
			  }
			}) %>
		</li>
	</ul>
	
</div>