<%
	if(typeof headerText_component === 'undefined' || !headerText_component) {
		return
	}

	var blockClass = 'headerText'
	if(typeof headerText_component.block !== 'undefined' && headerText_component.block) {
		blockClass = `${headerText_component.block}__headerText headerText`
	} else if(typeof headerText_component.class !== 'undefined' && headerText_component.class) {
		blockClass = `${headerText_component.class} headerText`
	}

	var textSizes = ['12', '14', '18', '20', '24']
	var textClass = 'headerText__text text'

	if(typeof headerText_component.text.size !== 'undefined' && headerText_component.text.size) {
		if(textSizes.includes(headerText_component.text.size)) {
			textClass += ` text--size-${headerText_component.text.size}`;
		}
	}

	if(typeof headerText_component.position !== 'undefined' && headerText_component.position) {
		switch(headerText_component.position) {
			case 'left': {
				blockClass += ' headerText--left'
				break;
			}
		}
	}
%>

<article class="<%=blockClass%>">
	<% if(typeof headerText_component.tag !== 'undefined' && headerText_component.tag) { %>
		<div class="headerText__tag">
			<%=headerText_component.tag%>
		</div>
	<% } %>
	<% if(typeof headerText_component.header !== 'undefined' && headerText_component.header) { %>
		<<%=headerText_component.header.type%> class='headerText__title'>
			<%-headerText_component.header.label%>
		</<%=headerText_component.header.type%>>
	<% } %>
	<% if(typeof headerText_component.text !== 'undefined' && headerText_component.text) { %>
		<div class="<%=textClass%>">
			<% for(const text of headerText_component.text.label) { %>
				<p><%=text%></p>
			<% } %>
		</div>
	<% } %>
	<% if(typeof headerText_component.info !== 'undefined' && headerText_component.info) { %>
		<ul class="headerText__info info-headerText">
			<% for(const item of headerText_component.info) { %>
				<li class="info-headerText__item" data-fsc-watcher data-fsc-watcher-once>
					<div class="info-headerText__label">
						<%=item.label%>
					</div>
					<div class="info-headerText__value">
						<%=item.value%>
					</div>
				</li>
			<% } %>
		</ul>
	<% } %>
	<%- include('src/ejs/components/button.ejs', {
		button_component: headerText_component.button_component
	})%>
</article>