<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/info-singleblog.ejs', { 
//	info-singleblog_component: {
//		this: {
//			parent: 'parentClass',
//			block: 'childBlockClass',
//			class: ['childClass'],
//			tag: 'div',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		}
//	}
//	}) %>
%>
<%
	if(typeof infoSingleblog_component === 'undefined' || !infoSingleblog_component) {
		return
	}

	var {thisClass, blockClass, thisTag, thisStyles, thisDataAttributes} = externe.setupEJSComponent({...infoSingleblog_component, componentName: 'info-singleblog'})
%>

<<%=thisTag%> <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisStyles%>>
	<% if(typeof infoSingleblog_component.list !== 'undefined' && infoSingleblog_component.list) { %>
		<% for(const item of infoSingleblog_component.list) { %>
			<li class="<%=blockClass%>__list" data-fsc-watcher data-fsc-watcher-once>
				<div class="<%=blockClass%>__label">
					<%=item.label%>
				</div>
				<% if(item.value.type === 'date') { %>
					<time datetime="23-08-2023" class="<%=blockClass%>__value">
						<%=item.value.label%>
					</time>
				<% } else { %>
					<div class="<%=blockClass%>__value">
						<%=item.value.label%>
					</div>
				<% } %>
			</li>
		<% } %>
	<% } %>
</<%=thisTag%>>