<%
	if(typeof processCard_component === 'undefined' || !processCard_component) {
		return
	}

	var {blockClass, thisClass, thisID, thisTag, thisStyles, thisDataAttributes} = externe.setupEJSComponent({...processCard_component, componentName: 'processCard'})


	var textSizes = ['12', '14', '18', '20', '24']
	var textClass = 'processCard__text text'
	if(typeof processCard_component.text.size !== 'undefined' && processCard_component.text.size) {
		if(textSizes.includes(processCard_component.text.size)) {
			textClass += ` text--size-${processCard_component.text.size}`;
		}
	}

	var itemDirection = 'right'
	if(typeof processCard_component.direction !== 'undefined' && processCard_component.direction) {
		itemDirection = processCard_component.direction
	}
	
%>

<% if(itemDirection === 'right') { %>
	<li class="process__item">
		<div class="process__empty"></div>
		<div class="process__line"></div>
		<div <%-thisDataAttributes%> class="processCard__wrapper">
			<div class="processCard__time">
				<%= processCard_component.time%>
			</div>
			<div class="processCard__tag">
				<%= processCard_component.tag%>
			</div>
			<<%=processCard_component.title.tag%> class="processCard__title">
				<%= processCard_component.title.label%>
			</<%=processCard_component.title.tag%>>
			<div class="<%=textClass%>">
				<% for(const text of processCard_component.text.label) { %>
					<p><%=text%></p>
				<% } %>
			</div>
			<ul class="processCard__list">
				<% for(const item of processCard_component.list) { %>
					<li><%=item%></li>
				<% } %>
			</ul>
		</div>
	</li>
<% } else { %>
	<li class="process__item">
		<div <%-thisDataAttributes%> class="processCard__wrapper">
			<div class="processCard__time">
				<%= processCard_component.time%>
			</div>
			<div class="processCard__tag">
				<%= processCard_component.tag%>
			</div>
			<<%=processCard_component.title.tag%> class="processCard__title">
				<%= processCard_component.title.label%>
			</<%=processCard_component.title.tag%>>
			<div class="<%=textClass%>">
				<% for(const text of processCard_component.text.label) { %>
					<p><%=text%></p>
				<% } %>
			</div>
			<ul class="processCard__list">
				<% for(const item of processCard_component.list) { %>
					<li><%=item%></li>
				<% } %>
			</ul>
		</div>
		<div class="process__line"></div>
		<div class="process__empty"></div>
	</li>
<% } %>