<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/serviceListCard.ejs', 
//	serviceListCard_component: {
//		this: {
//			parent: 'parentClass',
//			class: 'childClass',
//			type: 'div',
//			style: 'customStyle',
//			dataAttribute: 'customDataAttributes' 
//		}
//	}) %>
%>
<%
	if(typeof serviceListCard_component === 'undefined' || !serviceListCard_component) {
		return
	}

	var thisClass = 'service-list-item'
	var blockClass = 'item-list-service'
	if(
		(typeof serviceListCard_component.this !== 'undefined' && serviceListCard_component.this) &&
		(typeof serviceListCard_component.this.parent !== 'undefined' && serviceListCard_component.this.parent)
	) {
		thisClass = `${serviceListCard_component.this.parent}__${thisClass} ${blockClass}`
	} else if(
		(typeof serviceListCard_component.this !== 'undefined' && serviceListCard_component.this) &&
		(typeof serviceListCard_component.this.class !== 'undefined' && serviceListCard_component.this.class)
	) {
		thisClass = `${serviceListCard_component.this.class} ${blockClass}`
	}
	else {
		thisClass = blockClass
	}

	var thisID = ''
	if(
		(typeof serviceListCard_component.this !== 'undefined' && serviceListCard_component.this) &&
		(typeof serviceListCard_component.this.id !== 'undefined' && serviceListCard_component.this.id)
	) {
		thisID = `id='${serviceListCard_component.this.id}'`
	}

	var thisType = 'article'
	if(
		(typeof serviceListCard_component.this !== 'undefined' && serviceListCard_component.this) &&
		(typeof serviceListCard_component.this.type !== 'undefined' && serviceListCard_component.this.type)
	) {
		thisType = serviceListCard_component.this.type
	}

	var thisStyles = undefined
	if(
		(typeof serviceListCard_component.this !== 'undefined' && serviceListCard_component.this) &&
		(typeof serviceListCard_component.this.style !== 'undefined' && serviceListCard_component.this.style)
	) {
		thisStyles = `style='${serviceListCard_component.this.style}'`
	}

	var thisDataAttributes = ''
	if(
		(typeof serviceListCard_component.this !== 'undefined' && serviceListCard_component.this) &&
		(typeof serviceListCard_component.this.dataAttribute !== 'undefined' && serviceListCard_component.this.dataAttribute)
	) {
		if(typeof serviceListCard_component.this.dataAttribute === 'string')
		{
			thisDataAttributes += ' ' + serviceListCard_component.this.dataAttribute
		}
		else if(typeof serviceListCard_component.this.dataAttribute === 'object')
		{
			thisDataAttributes += ' ' + serviceListCard_component.this.dataAttribute.join(' ')
		}
	}

	var textSizes = ['12', '14', '18', '20', '24']
	var textClass = ' text'
	
	if(typeof serviceListCard_component.text.size !== 'undefined' && serviceListCard_component.text.size) {
		if(textSizes.includes(serviceListCard_component.text.size)) {
			textClass += ` text--size-${serviceListCard_component.text.size}`;
		}
	}
%>

<<%=thisType%> <%=thisDataAttributes%> class='<%=thisClass%>' <%-thisID %> <%-thisStyles%>>
	<div class='<%=blockClass%>__tag'>
		<%=serviceListCard_component.tag%>
	</div>
	<<%=serviceListCard_component.title.tag%> class='<%=blockClass%>__title'>
		<a href="<%=serviceListCard_component.title.link%>" class="<%=blockClass%>__link-title">
			<%=serviceListCard_component.title.label%>
		</a>
	</<%=serviceListCard_component.title.tag%>>
	<a href="<%=serviceListCard_component.image.link%>" class="<%=blockClass%>__link-image">
		<%- include('externe/components/Image/Image.ejs', {
			image_component: {
				this: {
					class: `${blockClass}__noise`
				},
				img: {
					src: 'media/image/works/Noise.png'
				}
			}
		}) %>
		<%- include('src/ejs/components/icon.ejs', {
			icon_component: {
				block: blockClass,
				name: 'ph_arrow-up-right-light',
				size: '38',
				rounded: true
			}
		}) %>
		<%- include('externe/components/Image/Image.ejs', {
			image_component: {
				...serviceListCard_component.image.image_component,
				this: {
					parent: blockClass
				}
			}
		}) %>
	</a>
	<table class="<%=blockClass%>__table table-service">
		<% for(const item of serviceListCard_component.text.list) { %>
			<tr class="table-service__row">
				<td class="table-service__label">
					<%=item.label%>
				</td>
				<td class="table-service__text <%=textClass%>">
					<% for(const text of item.text) { %>
						<p><%=text%></p>
					<% } %>
				</td>
			</tr>
		<% } %>
	</table>
</<%=thisType%>>