<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/social.ejs', 
//	social_component: {
//		this: {
//			parent: 'parentClass',
//			class: 'childClass',
//			type: 'div',
//			style: 'customStyle',
//			dataAttribute: 'customDataAttributes' 
//		}
//	}) %>
%>
<%
	if(typeof social_component === 'undefined' || !social_component) {
		return
	}

	var thisClass = 'social'
	if(
		(typeof social_component.this !== 'undefined' && social_component.this) &&
		(typeof social_component.this.parent !== 'undefined' && social_component.this.parent)
	) {
		thisClass = `${social_component.this.parent}__social social`
	} else if(
		(typeof social_component.this !== 'undefined' && social_component.this) &&
		(typeof social_component.this.class !== 'undefined' && social_component.this.class)
	) {
		thisClass = `${social_component.this.class} social`
	}

	var thisType = 'ul'
	if(
		(typeof social_component.this !== 'undefined' && social_component.this) &&
		(typeof social_component.this.type !== 'undefined' && social_component.this.type)
	) {
		thisType = social_component.this.type
	}

	var thisStyles = undefined
	if(
		(typeof social_component.this !== 'undefined' && social_component.this) &&
		(typeof social_component.this.style !== 'undefined' && social_component.this.style)
	) {
		thisStyles = `style='${social_component.this.style}'`
	}

	var thisDataAttributes = undefined
	if(
		(typeof social_component.this !== 'undefined' && social_component.this) &&
		(typeof social_component.this.dataAttribute !== 'undefined' && social_component.this.dataAttribute)
	) {
		thisDataAttributes = social_component.this.dataAttribute
	}

	var typeOfView = 'default'
	if(social_component.type !== 'undefined' && social_component.type) {
		switch(social_component.type) {
			case 'button': {
				typeOfView = 'button'
				thisClass += ' social--button'
				break;
			} 
			case 'vertical': {
				thisClass += ' social--vertical'
				break;
			}
		}
	}

	list = [
		{
			icon_component: {
				block: 'social',
				name: 'ph_instagram-logo-light', 
				size: '38',
				rounded: true
			},
			label: 'Instagram'
		},
		{
			icon_component: {
				block: 'social',
				name: 'ph_twitter-logo-light',
				size: '38',
				rounded: true
			},
			label: 'Twitter'
		},
		{
			icon_component: {
				block: 'social',
				name: 'ph_dribbble-logo-light',
				size: '38',
				rounded: true
			},
			label: 'Dribbble'
		},
		{
			icon_component: {
				block: 'social',
				name: 'ph_behance-logo-light',
				size: '38',
				rounded: true
			},
			label: 'Behance'
		}
	]
%>

<<%=thisType%> <%=thisDataAttributes%> class='<%=thisClass%>' <%-thisStyles%>>
	<% if(list !== 'undefined' && list) { %>
		<% for(const item of list) { %>
			<li class="social__item">
				<a href="<%=item.link%>" class="social__link">
					<%- include('src/ejs/components/icon.ejs', {
						icon_component: item.icon_component
					}) %>
					<% if(social_component.label !== 'undefined' && social_component.label) { %>
						<span class="social__label">
							<%=item.label%>
						</span>
					<% } %>
					<% if(typeOfView === 'button') { %>
						<%- include('src/ejs/components/icon.ejs', {
							icon_component: {
								this: {
									class: 'social__link-arrow'
								},
								name: 'ph_arrow-up-right-light',
							}
						}) %>
					<% } %>
				</a>
			</li>
		<% } %>
	<% } %>
</<%=thisType%>>