<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/stats.ejs', 
//	statsItem_component: {
//		this: {
//			parent: 'parentClass',
//			class: 'childClass',
//			type: 'div',
//			style: 'customStyle',
//			dataAttribute: 'customDataAttributes' 
//		}
//	}) %>
%>
<%
	if(typeof statsItem_component === 'undefined' || !statsItem_component) {
		return
	}

	var thisClass = 'item-stats'
	if(
		(typeof statsItem_component.this !== 'undefined' && statsItem_component.this) &&
		(typeof statsItem_component.this.parent !== 'undefined' && statsItem_component.this.parent)
	) {
		thisClass = `${statsItem_component.this.parent}__stats item-stats`
	} else if(
		(typeof statsItem_component.this !== 'undefined' && statsItem_component.this) &&
		(typeof statsItem_component.this.class !== 'undefined' && statsItem_component.this.class)
	) {
		thisClass = `${statsItem_component.this.class} item-stats`
	}

	var thisType = 'div'
	if(
		(typeof statsItem_component.this !== 'undefined' && statsItem_component.this) &&
		(typeof statsItem_component.this.type !== 'undefined' && statsItem_component.this.type)
	) {
		thisType = statsItem_component.this.type
	}

	var thisStyles = undefined
	if(
		(typeof statsItem_component.this !== 'undefined' && statsItem_component.this) &&
		(typeof statsItem_component.this.style !== 'undefined' && statsItem_component.this.style)
	) {
		thisStyles = `style='${statsItem_component.this.style}'`
	}

	var thisDataAttributes = 'data-fsc-counter'
	if(
		(typeof statsItem_component.this !== 'undefined' && statsItem_component.this) &&
		(typeof statsItem_component.this.dataAttribute !== 'undefined' && statsItem_component.this.dataAttribute)
	) {
		if(typeof statsItem_component.this.dataAttribute === 'string')
		{
			thisDataAttributes += ' ' + statsItem_component.this.dataAttribute
		}
		else if(typeof statsItem_component.this.dataAttribute === 'object')
		{
			thisDataAttributes += ' ' + statsItem_component.this.dataAttribute.join(' ')
		}
	}

	thisDataAttributes += ` data-fsc-counter-finalValue=${statsItem_component.value.label}`
%>

<<%=thisType%> class='<%=thisClass%>' <%-thisStyles%>>
	<% if(typeof statsItem_component.title !== 'undefined' && statsItem_component.title) { %>
		<<%=statsItem_component.title.tag%> class='item-stats__title'>
			<%=statsItem_component.title.label%>
		</<%=statsItem_component.title.tag%>>
	<% } %>
	<div class="item-stats__value">
		<span <%=thisDataAttributes%>>
			0
		</span>
		<%=statsItem_component.value.symbol%>
	</div>
</<%=thisType%>>