<header class="header">
    <div class="header__container container">
        <div class="header__body">
            <% if(typeof header_component.homePage !== 'undefined') { %>
                <%if(header_component.homePage === true) { %>
                    <%- include('externe/components/Image/Image.ejs', {
                        image_component: {
                            this: {
                                parent: 'header'
                            },
                            img: {
                                src: '/media/image/logo.svg',
                                alt: 'website-logo'
                            }
                        }
                    })%>
                <% } else if(header_component.homePage === false) { %>
                    <a href="./" class="header__link-logo">
                       <%- include('externe/components/Image/Image.ejs', {
                            image_component: {
                                block: 'header',
                                img: {
                                    src: '/media/image/logo.svg',
                                    alt: 'website-logo'
                                }
                            }
                        })%>
                    </a>
                <% } %>
            <% } %>
            <%- include('externe/components/HeaderMenu/HeaderMenu.ejs', {
                header_menu_component: {
                    activePage: header_component.active ?? '',
                    list: [
                        {'href': './services.html', 'anchor': 'Services'},
                        {'href': './work.html', 'anchor': 'Work'},
                        {'href': './about.html', 'anchor': 'About'},
                        {'href': './blog.html', 'anchor': 'Blog'},
                        {'anchor': 'Pages', 'submenus': [
                            {'href': './contact.html', 'anchor': 'Contact'},
                            {'href': './worksingle.html', 'anchor': 'Work Single'},
                            {'href': './blog.html', 'anchor': 'Blog'},
                            {'href': './blog.html', 'anchor': 'Blog Single'},
                            // {'href': '', 'anchor': 'Test', 'submenus': [
                            //     {'href': '', 'anchor': 'Blog'},
                            //     {'href': '', 'anchor': 'Blog'},
                            //     {'href': '', 'anchor': 'Blog'},
                            //     {'href': '', 'anchor': 'Test', 'submenus': [
                            //         {'href': '', 'anchor': 'Blog'},
                            //         {'href': '', 'anchor': 'Blog'},
                            //         {'href': '', 'anchor': 'Test', 'submenus': [
                            //             {'href': '', 'anchor': 'Blog'},
                            //             {'href': '', 'anchor': 'Blog'},
                            //             {'href': '', 'anchor': 'Blog'},
                            //             {'href': '', 'anchor': 'Blog'},
                            //             {'href': '', 'anchor': 'Blog'},
                            //         ]},
                            //         {'href': '', 'anchor': 'Blog'},
                            //         {'href': '', 'anchor': 'Blog'},
                            //     ]},
                            //     {'href': '', 'anchor': 'Blog'},
                            // ]},
                        ]},
                    ]
                }
            }) %>
            <%- include('src/ejs/components/button.ejs', {
                button_component: {
                    block: "header",
                    label: 'Let’s talk',
                    link: './contact.html',
                    size: 'small',
                    style: 'primary'
                }
            })%>
            <%- include('externe/components/Burger/Burger.ejs', {
                burger_component: {
                    this: {
                        parent: 'header'
                    }
                }
            })%>
        </div>
    </div>
</header>